/* 공통 CSS */
* {
    font-family: 'Noto Serif KR', serif;
}

/* 메인 페이지 CSS */
.my-title {
    height: 250px;
    width: 100%;
    max-width: 1600px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.nhm.ac.uk/content/dam/nhmwww/discover/megalodon/megalodon_warpaint_shutterstock-full-width.jpg.thumb.1160.1160.jpg");
    background-position: center;
    background-size: cover;

    color: white;
    font-size: 70px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrap {
    width: 95%;
    max-width: 1300px;
    margin: 20px auto 0 auto;

    border: 1px solid lightgrey;
    border-radius: 5px;
}

.main-img {
    min-height: 330px;
    object-fit: cover;
}

.card-body > h3 {
    font-weight: bold;
}
.card-body > p > span {
     font-weight: bold;
}

.card-body > ul {
    font-size: medium;
    color: dimgray;
}

.card-wrap {
    width: 95%;
    max-width: 1300px;
    margin: 20px auto 0 auto;
}

.card > a > img {
    height: 250px;
    object-fit: cover;
    object-position: 30%;
}

.col >  * {
    font-style: italic;
}


/* 멤버 소개 페이지 CSS */
a:link {
    text-decoration: none;
}

.mem-wrap{
    max-width: 1400px;
    width : 95%;

    margin: 60px auto 30px auto;
}

.card > img {
    height: 700px;
    object-fit: cover;
}

.card-text > div > span {
    font-weight: bold;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn > button {
    margin-right: 10px;
    margin-bottom: 0;
}

.comment-wrap{
    max-width: 1400px;
    width : 95%;

    margin: 0px auto 0px auto;
}

.comment-box {
    width: 100%;
    margin: 10px 10px -40px 10px;
    padding: 10px;
}

.user-box {
    margin-top: -20px;
    margin-bottom: 20px;
    display: flex;
}

.name-input {
    width: 100px;
    margin-right: 10px;
}

.comment-input {
    max-width: 90%;
    margin-right: 10px;
}

.post-btn {
    margin-top: 10px
}

.ready-a {
    float: right;
    margin-left: 5px;
}

a {
    color: dimgray;
    text-decoration: none;
}

.card > a > img {
    object-fit : fill;
}
