<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> Sharkly | 백승범 소개 </title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/SharklyCss.css">

    <script>
        $(document).ready(function () {
            set_temp()
            show_comment()
        });

        function set_temp() {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
                data: {},
                success: function (response) {
                    $('#temp').text(response['temp'])
                }
            })
        }

        function save_comment() {
            let name = $('#name').val()
            let comment = $('#add-comment').val()
            let password = $('#add-password').val()

            $.ajax({
                type: 'POST',
                url: '/baek-api',
                data: {
                    name_give: name,
                    comment_give: comment,
                    password_give: password
                },
                success: function (response) {
                    window.location.reload()
                }
            })
        }

        function show_comment() {
            $.ajax({
                type: "GET",
                url: "/baek-api",
                data: {},
                success: function (response) {
                    let rows = response["guestbook"]

                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let comment = rows[i]['comment']

                        let temp_html = `<p>${comment}</p>
                                         <footer class="blockquote-footer" id="c-${i}">${name}
                                            <a class="ready-a" onclick="ready_delete('c-${i}')" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제
                                            </a><a class="ready-a" onclick="ready_update('c-${i}')" href="#" data-bs-toggle="modal" data-bs-target="#updateModal">수정</a>
                                         </footer>`

                        $('#comment-list').append(temp_html)
                    }
                }
            });
        }

        function ready_update($id) {
            let name = $('#'+$id).clone().children().remove().end().text()
            $('#update-name').text(name)
        }

        function update_comment() {
            let name = $('#update-name').text()
            let comment = $('#update-comment').val()
            let password = $('#update-password').val()

            $.ajax({
                type: 'PATCH',
                url: '/baek-api',
                data: {
                    name_give: name,
                    comment_give: comment,
                    password_give: password
                },
                success: function (response) {
                    if (!response['success']) {
                        alert("비밀번호가 틀립니다.")
                    } else {
                        window.location.reload()
                        alert("수정 완료")
                    }
                }
            })
        }

        function ready_delete($id) {
            let name = $('#'+$id).clone().children().remove().end().text()
            $('#delete-name').text(name)
        }

        function delete_comment() {
            let name = $('#delete-name').text()
            let password = $('#delete-password').val()

            $.ajax({
                type: 'DELETE',
                url: '/baek-api',
                data: {
                    name_give: name,
                    password_give: password
                },
                success: function (response) {
                    if (!response['success']) {
                        alert("비밀번호가 틀립니다.")
                    } else {
                        $('#deleteModal').modal('hide')
                        window.location.reload()
                        alert("삭제 완료")
                    }
                }
            })
        }
    </script>

</head>

<body>
    <div class="my-title">
        <h5>Team 6 Mini Project
            &lt;Sharkly&gt;
        </h5>
        <div style="display: flex">
            <h1>백승범</h1>
            <h5><span id="temp"></span>℃</h5>
        </div>
    </div>

<!-- Main body -->
<div class="mem-wrap">
    <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0266/5817/7121/products/product-image-1139240852.jpg?v=1571714943" class="card-img-top" alt="돌묵 상어">
        <div class="card-body">
            <h3 class="card-title">백승범</h3>
            <div class="card-text">
                <div><span>#태어난 날 :</span>
                    <ul>천고마비의 계절 가을</ul>
                </div>
                <div><span>#MBTI : </span>
                    <ul>INFJ</ul>
                </div>
                <div><span>#내 상어 : </span>
                    <ul>돌묵 상어</ul>
                </div>
                <div><span>#선택한 이유 : </span>
                    <ul>
                        상어는 평생동안 자라는 동물입니다. 그중에서도 돌묵 상어는 긴 수명을 가지고 상어 중에서도 덩치가 크게 자라는 상어중 하나입니다. <br>
                        저는 이러한 돌묵 상어처럼 긴 시간 평생동안 실력이 크게 자라는 사람이 되고 싶습니다.
                    </ul>
                </div>
                <div><span>#자신의 장점:</span>
                    <ul>일에 대한 오지랖이 저의 장점이라고 생각합니다.<br>
                        회사에서도 다른 사람이 겪고 있는 이슈에 대해서 항상 관심을 가지고 참견했던 것이 빠르게 실력을 키우는데 큰 도움이 되었습니다. <br>
                        앞으로도 다른 사람의 코드에 대해 호기심을 갖고 접근할 수 있는 개발자가 되고 싶습니다.</ul>
                </div>
                <div><span>#협업 방식:</span>
                    <ul>팀원을 존중하고, 서로서로 보완하는 협업을 추구합니다. <br>
                        제가 겪고 있는 이슈는 공유하고, 팀원에게 도움이 필요할 때에는 함께 고민할 수 있는 협업을 가장 이상적으로 생각합니다</ul>
                </div>
            </div>

            <div class="btn">
                <button onclick="location.href='https://velog.io/@_b94k_'" type="button" class="btn btn-outline-success">블로그</button>
                <button onclick="window.open('https://www.instagram.com/about.b94k/');" type="button" class="btn btn-outline-primary">인스타그램</button>
            </div>

        </div>
    </div>
</div>
<!-- Main body -->

<!-- Comment box -->
<div class="comment-wrap">
    <div class="card">
        <div class="card-body">
            <h3>방명록</h3>
            <hr>
            <div id="comment-list">
            </div>
            <hr>
        </div>
        <div class="comment-box">
            <div class="user-box">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control name-input" id="name" placeholder="text">
                    <label style="color: grey">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control password-input" id="add-password" placeholder="text">
                    <label style="color: grey">password</label>
                </div>
            </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control comment-input" id="add-comment" placeholder="text">
                <label style="color: grey">Comment </label>
                <button onclick="save_comment()" type="button" class="btn btn-dark post-btn"> 게시</button>
            </div>
        </div>
    </div>
</div>
<!-- Comment box -->

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">코멘트 수정하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="comment-box">
              <div class="user-box">
                  <div class="form-floating mb-3">
                      <h3 id="update-name" style="margin: 10px 10px 10px 0px">Name</h3>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control password-input" id="update-password" placeholder="text">
                      <label style="color: grey">password</label>
                  </div>
              </div>
              <div class="form-floating mb-5">
                  <input type="text" class="form-control comment-input" id="update-comment" placeholder="text">
                  <label style="color: grey">Comment </label>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="update_comment()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Update Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">코멘트 수정하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="comment-box">
              <div class="user-box">
                  <div class="form-floating mb-3">
                      <h3 id="delete-name" style="margin: 10px 10px 10px 0px">Name</h3>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control password-input" id="delete-password" placeholder="text">
                      <label style="color: grey">비밀번호</label>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="delete_comment()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
</body>

</html>
