<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> Sharkly | 백승범 소개 </title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/SharklyCss.css">


</head>

<body>

<div class="mytitle">
    <h5>Team 6 Mini Project
        &lt;Sharkly&gt;
    </h5>
    <h1>${'name'}</h1>
</div>

<!-- Main body -->
<div class="mem_wrap">
    <div class="card">
        <img src="https://www.fau.edu/newsdesk/images/news/epaulette-shark-newsdesk.jpg" class="card-img-top" alt="에폴렛 상어">
        <div class="card-body">
            <h3 class="card-title">백승범</h3>
            <div class="card-text">
                <div>태어난 날 :
                    <ul>OOO</ul>
                </div>
                <div>MBTI :
                    <ul>OOOO</ul>
                </div>
                <div>내 상어 :
                    <ul>OOO OO</ul>
                </div>
                <div>선택한 이유 :
                    <ul>
                        내용
                    </ul>
                </div>
                <div>협업 방식:
                    <ul>내용</ul>
                </div>
            </div>

            <div class="btn">
                <button onclick="location.href='블로그url'" type="button" class="btn btn-outline-success">블로그</button>
                <button onclick="window.open('https://www.instagram.com/ssong_____g/');" type="button" class="btn btn-outline-primary">인스타그램</button>
            </div>

        </div>
    </div>
</div>
<!-- Main body -->
</body>

</html>
