<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> Sharkly | 전재형 소개 </title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/SharklyCss.css">
    <script src="{{url_for('static', filename='jeon.js')}}"></script>
</head>

<body>
<a href="/">
    <div class="my-title">
        <h5>Team 6 Mini Project
            &lt;Sharkly&gt;
        </h5>
        <div style="display: flex">
            <h1>전재형</h1>
            <h5><span id="temp"></span>℃</h5>
        </div>
    </div>
</a>

<!-- Main body -->
<div class="mem-wrap">
    <div class="card">
        <img src="https://thumb.mt.co.kr/06/2021/01/2021011414282423960_1.jpg/dims/optimize/"
             class="card-img-top" alt="... 상어">
        <div class="card-body">
            <h3 class="card-title">전재형</h3>
            <div class="card-text">
                <div><span>#태어난 날 :</span>
                    <ul>단풍이 피는 계절 가을</ul>
                </div>
                <div><span>#MBTI :</span>
                    <ul>ISFP</ul>
                </div>
                <div><span>#내 상어 :</span>
                    <ul>황소상어</ul>
                </div>
                <div><span>#선택한 이유 :</span>
                    <ul>
                        황소상어는 화가 많은 성격인데 , 저도 다혈절적인 성격이라 그 부분이 닮은거 같습니다.
                    </ul>
                </div>
                <div><span>#자신의 장점:</span>
                    <ul>힘들어하는 사람이 있으면 먼저 다가가 도움이나 위로를 해주는 성격이 장점입니다.</ul>
                </div>
                <div><span>#협업 방식:</span>
                    <ul>의사 소통을 통해 보완할 부분이나, 힘든부분을 함께 고민하고 극복해 나가고 서로 존중하는 마음으로 협업을 해야한다고 생각합니다.</ul>
                </div>
            </div>

            <div class="btn">
                <button onclick="location.href='https://backend789.tistory.com/'" type="button"
                        class="btn btn-outline-success">블로그
                </button>
                <button onclick="window.open('https://www.instagram.com/');" type="button"
                        class="btn btn-outline-primary">인스타그램
                </button>
            </div>

        </div>
    </div>
</div>
<!-- Main body -->

<!-- Comment box -->
<div class="comment-wrap">
    <div class="card">
        <div class="card-body">
            <h3>방명록</h3>
            <hr>
            <div id="comment-list">
            </div>
            <hr>
        </div>
        <div class="comment-box">
            <div class="user-box">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control name-input" id="name" placeholder="text">
                    <label style="color: grey">이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control password-input" id="add-password" placeholder="text">
                    <label style="color: grey">암호</label>
                </div>
            </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control comment-input" id="add-comment" placeholder="text">
                <label style="color: grey">내용 </label>
                <button onclick="save_comment()" type="button" class="btn btn-outline-dark post-btn"> 게시</button>
            </div>
        </div>
    </div>
</div>
<!-- Comment box -->

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">코멘트 수정하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comment-box">
                    <div class="user-box">
                        <div class="form-floating mb-3">
                            <h3 id="update-name" style="margin: 10px 10px 10px 0px">이름</h3>
                            <input type="hidden" id="update-id">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control password-input" id="update-password"
                                   placeholder="text">
                            <label style="color: grey">암호</label>
                        </div>
                    </div>
                    <div class="form-floating mb-5">
                        <input type="text" class="form-control comment-input" id="update-comment" placeholder="text">
                        <label style="color: grey">내용 </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="update_comment()">수정</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Update Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">코멘트 삭제하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comment-box">
                    <div class="user-box">
                        <div class="form-floating mb-3">
                            <h3 id="delete-name" style="margin: 10px 10px 10px 0px">이름</h3>
                            <input type="hidden" id="delete-id">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control password-input" id="delete-password"
                                   placeholder="text">
                            <label style="color: grey">암호</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="delete_comment()">삭제</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
</body>

</html>
