<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> Sharkly | 김학윤 소개 </title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/SharklyCss.css">
    <script src="{{url_for('static', filename='Sharklyjs.js')}}"></script>
</head>

<body>
<a href="/">
    <div class="my-title">
        <h5>Team 6 Mini Project
            &lt;Sharkly&gt;
        </h5>
        <div style="display: flex">
            <h1>김학윤</h1>
            <h5><span id="temp"></span>℃</h5>
        </div>
    </div>
</a>

<!-- Main body -->
<div class="mem-wrap">
    <div class="card">
        <img src="https://w.namu.la/s/f9a4abc7e95e5f021f8069109221d58bcbe582d0475428519d345e0fa9459835fb2610f08cb2833e1162e1aa9ab10cd7322b63a36aacfac9b3df0baf73e572bb50c4e9f76badfd48674b6c52565d13832504207723b56a58b4e7a28ac8800e02"
             class="card-img-top" alt="... 상어">
        <div class="card-body">
            <h3 class="card-title">김학윤</h3>
            <div class="card-text">
                <div><span>#태어난 날 :</span>
                    <ul>여름</ul>
                </div>
                <div><span>#MBTI :</span>
                    <ul>ENTJ</ul>
                </div>
                <div><span>#내 상어 :</span>
                    <ul>철갑 상어</ul>
                </div>
                <div><span>#선택한 이유 :</span>
                    <ul>
                        몸 속에 캐비어를 지닌 철갑상어는 그 알을 얻으려면 7년이란 시간이 걸린다.
                    </ul>
                    <ul>
                        나도 이제 시작한 초보이지만 잠재력을 지닌 개발자가 되고 싶기에 선택했다.
                    </ul>
                </div>
                <div><span>#자신의 장점:</span>
                    <ul>
                        항상 미소를 잃지 않고 다닙니다.
                    </ul>
                </div>
                <div><span>#협업 방식:</span>
                    <ul>
                        대학교 졸업 후 팀프로젝트는 오랜만이다 보니 사실 조금 어색했다.
                    </ul>
                    <ul>
                        아직은 팀원들을 이끌어갈만한 실력이 아니기에, 주어진 업무에 대하여 해결하려 노력했다.
                    </ul>
                </div>
            </div>

            <div class="btn">
                <button onclick="location.href='https://khakyy.tistory.com/'" type="button"
                        class="btn btn-outline-success">블로그
                </button>
                <button onclick="window.open('https://www.instagram.com/k_haky/');" type="button"
                        class="btn btn-outline-primary">인스타그램
                </button>
            </div>

        </div>
    </div>
</div>
<!-- Main body -->

<!-- Comment box -->
<div class="comment-wrap">
    <div class="card">
        <div class="card-body">
            <h3>방명록</h3>
            <hr>
            <div id="comment-list">
            </div>
            <hr>
        </div>
        <div class="comment-box">
            <div class="user-box">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control name-input" id="name" placeholder="text">
                    <label style="color: grey">이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control password-input" id="add-password" placeholder="text">
                    <label style="color: grey">암호</label>
                </div>
            </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control comment-input" id="add-comment" placeholder="text">
                <label style="color: grey">내용 </label>
                <button onclick="save_comment()" type="button" class="btn btn-dark post-btn"> 게시</button>
            </div>
        </div>
    </div>
</div>
<!-- Comment box -->

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">코멘트 수정하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comment-box">
                    <div class="user-box">
                        <div class="form-floating mb-3">
                            <h3 id="update-name" style="margin: 10px 10px 10px 0px">이름</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control password-input" id="update-password"
                                   placeholder="text">
                            <label style="color: grey">암호</label>
                        </div>
                    </div>
                    <div class="form-floating mb-5">
                        <input type="text" class="form-control comment-input" id="update-comment" placeholder="text">
                        <label style="color: grey">내용 </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="update_comment()">수정</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Update Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">코멘트 삭제하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comment-box">
                    <div class="user-box">
                        <div class="form-floating mb-3">
                            <h3 id="delete-name" style="margin: 10px 10px 10px 0px">이름</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control password-input" id="delete-password"
                                   placeholder="text">
                            <label style="color: grey">암호</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="delete_comment()">삭제</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
</body>

</html>
