<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> Sharkly | 송지은 소개 </title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/SharklyCss.css">
    <script src="{{url_for('static', filename='song.js')}}"></script>
</head>

<body>
<a href="/">
    <div class="my-title">
        <h5>Team 6 Mini Project
            &lt;Sharkly&gt;
        </h5>
        <div style="display: flex">
            <h1>송지은</h1>
            <h5><span id="temp"></span>℃</h5>
        </div>
    </div>
</a>

<!-- Main body -->
<div class="mem-wrap">
    <div class="card">
        <img src="https://www.fau.edu/newsdesk/images/news/epaulette-shark-newsdesk.jpg" class="card-img-top"
             alt="에폴렛 상어">
        <div class="card-body">
            <h3 class="card-title">송지은</h3>
            <div class="card-text">
                <div><span>#태어난 날 :</span>
                    <ul>한겨울</ul>
                </div>
                <div><span>#MBTI :</span>
                    <ul>ENFP</ul>
                </div>
                <div><span>#내 상어 :</span>
                    <ul>에폴렛 상어</ul>
                </div>
                <div><span>#선택한 이유 :</span>
                    <ul>
                        에폴렛 상어는 육지에서 숨을 쉴 수 있는 상어인데 계속해서 육지에서 숨을 오래 쉴 수 있도록 진화 중이라고 한다.
                        다른 곳에서 일을 하다가 코딩에 적응하는 내 모습과 같아 보여 선택하게 되었다.
                    </ul>
                </div>
                <div><span>#자신의 장점:</span>
                    <ul>OOO</ul>
                </div>
                <div><span>#협업 방식:</span>
                    <ul>혼자서 해내는 것도 좋아하지만, 다같이 으쌰으쌰하는 분위기에서 일 하는 것도 좋아한다. 그냥 다 좋아햐기❤</ul>
                </div>
            </div>

            <div class="btn">
                <button onclick="location.href='블로그url'" type="button" class="btn btn-outline-success">블로그</button>
                <button onclick="window.open('https://www.instagram.com/ssong_____g/');" type="button"
                        class="btn btn-outline-primary">인스타그램
                </button>
            </div>

        </div>
    </div>
</div>
<!-- Main body -->

<!-- Comment box -->
<div class="comment-wrap">
    <div class="card">
        <div class="card-body">
            <h3>방명록</h3>
            <hr>
            <div id="comment-list">
            </div>
            <hr>
        </div>
        <div class="comment-box">
            <div class="user-box">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control name-input" id="name" placeholder="text">
                    <label style="color: grey">이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control password-input" id="add-password" placeholder="text">
                    <label style="color: grey">암호</label>
                </div>
            </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control comment-input" id="add-comment" placeholder="text">
                <label style="color: grey">내용 </label>
                <button onclick="save_comment()" type="button" class="btn btn-outline-dark post-btn"> 게시</button>
            </div>
        </div>
    </div>
</div>
<!-- Comment box -->

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">코멘트 수정하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comment-box">
                    <div class="user-box">
                        <div class="form-floating mb-3">
                            <h3 id="update-name" style="margin: 10px 10px 10px 0px">이름</h3>
                            <input type="hidden" id="update-id">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control password-input" id="update-password"
                                   placeholder="text">
                            <label style="color: grey">암호</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here"
                                  id="floatingTextarea"></textarea>
                        <label style="color: grey">댓글</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="update_comment()">수정</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Update Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">코멘트 삭제하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comment-box">
                    <div class="user-box">
                        <div class="form-floating mb-3">
                            <h3 id="delete-name" style="margin: 10px 10px 10px 0px">이름</h3>
                            <input type="hidden" id="delete-id">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control password-input" id="delete-password"
                                   placeholder="text">
                            <label style="color: grey">암호</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="delete_comment()">삭제</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
</body>

</html>
